{% extends 'base.html' %}
{% block content %}
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

    <div class="container col-3">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/alipay.jpg" alt="alipay" class="img-thumbnail">
                </div>
                <div class="carousel-item">
                    <img src="/static/wechat.png" alt="wechat" class="img-thumbnail">
                </div>
                <div class="carousel-item">
                    <img src="/static/qq.png" alt="qq" class="img-thumbnail">
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
{% endblock %}
